[submodule "babylon-evm"]
	path = babylon-evm
	url = https://github.com/linnnnnnh/babylon-evm.git
[submodule "spv"]
	path = spv
	url = https://github.com/catalogfi/spv.git
[submodule "babylon-byz"]
	path = babylon-byz
	url = https://github.com/Benoitded/babylon-byz.git
[submodule "bitcoin-staking-relayer"]
	path = bitcoin-staking-relayer
	url = https://github.com/asanson1404/bitcoin-staking-relayer.git
